importFrom("methods", "is")
importFrom("stats", "as.formula", "formula", "dnorm", "lag")
importFrom("utils", "capture.output", "head", "str", "tail")

# R/action_age.R
export(g3a_age)

# R/action_grow.R
export(g3a_grow_lengthvbsimple)
export(g3a_grow_impl_bbinom)
export(g3a_growmature)

# R/action_mature.R
export(g3a_mature_constant)
export(g3a_mature)

# R/action_naturalmortality.R
export(g3a_naturalmortality)
export(g3a_naturalmortality_exp)

# R/action_predate.R
export(g3a_predate_totalfleet)

# R/action_renewal.R
export(g3a_renewal)
export(g3a_renewal_normalparam)
export(g3a_initialconditions)
export(g3a_initialconditions_normalparam)

# R/action_report.R
export(g3a_report_stock)

# R/action_time.R
export(g3a_time)

# R/likelihood_catchdistribution.R
export(g3l_catchdistribution_sumofsquares)
export(g3l_catchdistribution_multinomial)
export(g3l_catchdistribution_multivariate)
export(g3l_catchdistribution_surveyindices_linear)
export(g3l_catchdistribution_surveyindices_log)
export(g3l_catchdistribution)

# R/run_r.R
export(g3_to_r)
S3method(edit, g3_r)

# R/run_tmb.R
export(g3_to_tmb)
export(g3_tmb_adfun)
S3method(edit, g3_cpp)
S3method(print, g3_cpp)
export(g3_tmb_par)

# R/suitability.R
export(g3_suitability_exponentiall50)

# R/stock.R
export(g3_stock)
export(g3_fleet)
export(g3s_clone)

# R/stock_age.R
export(g3s_age)
export(g3s_agegroup)

# R/stock_areas.R
export(g3s_livesonareas)
export(g3s_areagroup)

# R/stock_time.R
export(g3s_time)
export(g3s_time_convert)

# R/timevariable.R
export(g3_timeareadata)
